.slider{
    background:#FEEAE9;
    padding: 10px 25px;
}
.slider h3{
    color: #FF136F;
}
.buyNowButton{
    border: none;
    background: linear-gradient(to bottom,#e9226e 0%,#f80361 100% );
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
#catagories .cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 7px;
}


.cat1{
    background: linear-gradient(to left, #ffc400, #dab619e1);
}
.cat2{
    background: linear-gradient(to left, #e9226e, #ee3b80cc);
}
.cat3{
    background: linear-gradient(to left, #2f22e9, #4023e9cc);
}